:root{
    --ancho-principal: 40vw;
    --pading-principal: 0px 10px 10px 10px;

    --alto-header: 13vh;
}

h1{
    text-align: center;
    font-size: 40px;
}
h3{
    text-align: center;
    font-size: 25px;
}
#header{
    background-color: rgb(139, 230, 232);
    width: 100%;
    align-items: center;
    height: var(--alto-header);
}
#lateral{
    background-color: rgb(140, 149, 232);
    width: var(--ancho-principal);
    margin: auto;
    padding: var(--pading-principal);
}
#logo{
    height: var(--alto-header);
    width: auto;
}
body{
    background-color: rgb(102, 26, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo{
    position: absolute;
    left: auto;
}
ul{
    background-color: aqua;
    padding: 20px 10px;
    text-align: center;
}
li{
    margin: 20px auto;
    list-style: none;
    max-width: 200px;
}
.boton{
    width: 150px;
    height: 40px;
    background-color: rgb(227, 201, 232);
}
:hover.boton{
    width: 160px;
    background-color: rgb(244, 187, 255);
    box-shadow: 10px 5px 5px black;
}